<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
</head>
<body>
    <h1>Holo</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Nam laborum vitae consequatur 
        est sapiente. Iusto soluta molestias laboriosam 
        ut atque nesciunt quidem? Officia molestias perferendis tempore officiis!
         Distinctio, voluptatem possimus.</p>
</body>
</html>