<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link rel="stylesheet" href="{{url_for('static',filname'css/bootstrap.min.css)}}">
</head>
<body>
    <h1>Holo</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Nam laborum vitae consequatur 
        est sapiente. Iusto soluta molestias laboriosam 
        ut atque nesciunt quidem? Officia molestias perferendis tempore officiis!
         Distinctio, voluptatem possimus.</p>

         <script src="{{url_for ('static', filename= 'js/jquery.min.js') }}"></script>
         <script src="{{url_for('static', filename'js/popper.min.js') }}"></script>
         <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>